
.container1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap
    
}

.productos{
    padding: 5rem 2rem;
    margin: 0 auto;
    gap: 3rem 2rem;
    box-sizing: border-box;
    z-index: 0;

}

.producto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 10px 10px 2px black;
    border: 6px solid transparent;
    border-radius: 5px;
    z-index: 0;
}
.producto:hover{
    border: 6px solid #0c0b0f77 ;
}

.producto img{
    width: 250px;
    height: 300px;
}

.titulo{
    font-weight: 600;
    font-size: 1.5rem;
    color: black;
    font-family: Helvetica, sans-serif;
    
}
.precio{
    font-size: 2rem;
    font-weight: 600;
    color: #1a202c;
}

Button{
    background-color: black;
    color: white;
    padding: 1em;
    border-radius: 10px;
    font-size: 1em;
    font-weight: bold;

}

Button:hover{
    background-color: white;
    color: black;
}

.contador{
    display: flex;
    
}

.contador button{
    padding: 3px 5px;
    margin-left: 25px;
    margin-bottom: 6px;
    margin-right: 25px;
    border-radius: 5px;
    font-size: 2em;

}

.contador p{
    font-weight: 800;
    font-size: 1rem;
}